body {
  /* background-color: #f8ebdf; */
  /* background-color: #f5f5dc; */

  background-color: rgb(250, 245, 234);
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "East Sea Dokdo", cursive; */
  /* font-family: "Roboto Mono", monospace; */

  font-family: "Ubuntu", sans-serif;
  /* font-family: "Ubuntu Condensed", sans-serif; */

  /* make things more compact */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15%;
  margin-left: 15%;
}

.pinkBody {
  color: rgb(193, 150, 171);
}

.sakura {
  width: 15%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  text-align: center;
}

/* .navbar-nav {
  margin-left: auto;
} */

.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: right;
}

p {
  font-family: "Baskervville", serif;
  color: rgb(121, 121, 121);
}

.carouselImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding-bottom: 20px;
}

#title {
  background-image: url("../imgs/index/sakura.jpg");
  padding: 2px;
}

#jumbo-text {
  /* color: #0f5132; */
  color: black;
}

#contact {
  font-size: larger;
}

/* add spacing between nav buttons */
.nav-button {
  margin: 5px;
}

.bodyText {
  font-family: "Baskervville", serif;
  color: rgb(121, 121, 121);
}

.mainText {
  font-size: large;
  font-family: "Baskervville", serif;
  color: rgb(121, 121, 121);
}

/* so instead of displaying none, should change dimensions */
@media screen and (max-width: 600px) {
  .carouselImage {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
  }
}

.logo {
  /* width: 100%; */
  height: 150px;
}

.navbar {
  font-size: x-large;
}

.nav-icons {
  flex-direction: row;
}

@media only screen and (max-width: 960px) {
  .nav-icons .nav-item {
    padding-right: 1em;
  }
}
